html, body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: white;
  width: 100%;
  overflow: overlay;
}

.valuator a {
  text-decoration: none;
  color: white;
}

.valuator button {
  font-size: 24px;
  border: white;
  background-color: white;
  margin: 15px;
  text-decoration: none;
  outline: 0;
}

.valuator #root {
  width: 100%;
}

code {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
}

.valuator table {
  width: 100%;
  margin-bottom: 15px;
  table-layout: fixed;
}

.valuator td {
  font-size: 16px;
}

.valuator .amount {
  font-size: 26px;
}

.valuator .altPrice {
  color: rgb(134, 134, 134);
}

.valuator .altPriceMin {
  text-align: left;
  padding-left: 15px;
}

.valuator .altPriceMax {
  text-align: right;
  padding-right: 15px;
}

.valuator .estPrice {
  font-size: 18px;
}

.valuator .priceLine {
  background-color: black;
  height: 4px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.valuator .priceDot {
  margin-top: -28px;
  background-color: white;
  margin-left: calc(50% - 12px);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 4px solid black;
}

.valuator .valuation {
  font-size: 36px;
}

.valuator .context {
  text-align: left;
  padding: 15px;
}

.valuator .contextHeading {
  padding-bottom: 5px;
}

.valuator .contextText {
  padding-bottom: 5px;
}

@media (max-width: 600px){
  .valuator .amount {
    font-size: 20px;
  }

  .valuator .valuation {
    font-size: 28px;
  }
}

@media (max-width: 500px){
  .valuator .amount {
    font-size: 14px;
  }

  .valuator .valuation {
    font-size: 22px;
  }
}

@media (max-width: 420px){
  .valuator .amount {
    font-size: 12px;
  }

  .valuator .valuation {
    font-size: 18px;
  }
}

.valuator .heading {
  font-size: 40px;
  font-size: 600;
  padding: 30px;
}

.valuator .card {
  display: inline-block;
  margin: 5px;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  width: 400px;
  max-width: 90%;
  background-color: white;
  /* box-shadow: 0 4px 4px rgb(134, 134, 134); */
  border: 1px solid rgb(37, 37, 37);
}

.valuator .cardImg {
  /* border: 1px solid rgb(37, 37, 37); */
  /* width: 400px; */
  /* height: 266.5px; */
  max-width: calc(100% - 2px);
  vertical-align: middle;
  max-height: 267px;
}

.valuator .rosette {
  width: 300px;
  max-width: 90%;
}

.valuator .cardInfo {
  padding: 15px 10px 15px 10px;
  width: auto;
  /* border: 1px solid rgb(37, 37, 37); */
  border-top: none;
  margin-top: -4px;
}

.valuator .cardPrice {
  position: relative;
  font-weight: 700;
  font-size: 24px;
}

.valuator .cardHeading {
  padding-top: 15px;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 5px;
}

.valuator .cardExtraInfo {
  position: relative;
  font-weight: 500;
  font-size: 14px;
}

.valuator .cardAddress {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  font-size: 14px;
  font-weight: 500;
}

.valuator .cardSold {
  font-size: 14px;
  font-weight: 500;
}

.valuator .scrollImages {
  background-color: white;
  width: 400px;
  max-width: 90%;
  height: 44px;
  border: 1px solid rgb(37, 37, 37);
  border-bottom: none;
  border-top: none;
  display: inline-block;
}

.valuator .leftScroll, .valuator .rightScroll {
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(214, 214, 214);
  font-size: 36px;
  margin: 0;
  cursor: pointer;
}

.valuator .leftScroll {
  float: left;
  border-right: 1px solid rgb(37, 37, 37);
}

.valuator .rightScroll {
  float: right;
  border-left: 1px solid rgb(37, 37, 37);
}

.valuator .leftScroll:hover, .valuator .rightScroll:hover {
  background-color: rgb(190, 190, 190);
}

.valuator .imageNumber {
  margin: 0;
  font-size: 16px;
  height: 44px;
}

.valuator .valueForm {
  text-align: center;
  position: relative;
  /* margin-top: -4px; */
}

.valuator .radioBtn {
  text-align: left;
  font-size: 20px;
  margin: 0px;
  padding: 10px;
  width: 100%;
  background-color: rgb(214, 214, 214);
  border-top: 1px solid rgb(37, 37, 37);
  /* border-right: 1px solid rgb(37, 37, 37);
  border-bottom: 1px solid rgb(37, 37, 37); */
  color: black;
  text-transform: none;
}

.valuator .readyButton:hover {
  background-color: rgb(190, 190, 190);
  cursor: pointer;
}

.valuator .backBtnActive:hover {
  background-color: rgb(190, 190, 190);
  cursor: pointer;
}

/* .valuator .radioDown {
  background-color: rgb(73, 0, 0);
}

.valuator .radioSame {
  background-color: rgb(102, 66, 0);
}

.valuator .radioUp {
  background-color: rgb(0, 59, 0);
} */

.valuator .formTitle {
  font-size: 22px;
  font-weight: 600;
}

.valuator .formInputs {
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
}

.valuator .searchBar {
  /* background-color: .valuator #02bc83; */
  width: 100%;
}

.valuator .searchBtn {
  background-color: rgb(214, 214, 214);
  border: 1px solid black;
}

.valuator .postcodeInput, .valuator .roomNumInput {
  font-size: 24px;
  margin: 15px;
  border: 1px solid black;
  background-color: rgb(214, 214, 214);
}

.valuator .modalContainer {
  z-index: 1;
  opacity: 1;
  max-height: 100%;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.95);
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
  padding: 1%;
  line-height: 22px;
  box-shadow: 0 10px 10px 2px black;
}

.valuator .modal {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 49%;
  width: 95%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.valuator .closeBtn {
  color: white;
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 50px;
}

.valuator .closeBtn:hover {
  transform: scale(1.05);
}

.valuator .numPhotos {
  position: absolute;
  top: 192px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px 10px 1px 10px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}

.valuator .siteButton {
  margin: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 2px 10px 1px 10px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
}

.valuator .numPhotos:hover, .valuator .siteButton:hover {
  transform: scale(1.03);
}

.valuator .thumbnail {
  display: flex;
  padding: 5px;
  margin-top: 0px;
  max-width: calc(102% - 15px);
  -webkit-scroll-snap-align: center;
  -webkit-scroll-snap-stop: always;
  scroll-snap-stop: always;
  scroll-snap-align: center;
}

.valuator .thumbnails {
  display: inline-flex;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: .valuator #3b3b3b;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes antispin {
  0% { transform: rotate(720deg); }
  100% { transform: rotate(0deg); }
}

.valuator .logo {
  width: 200px;
  position: absolute;
  top: 12%;
  left: 11%;
}

.valuator .loader {
  border: 10px solid transparent;
  border-top: 10px solid black;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  animation: spin 1s linear infinite;
  z-index: 5;
}

.valuator .loader2 {
  border: 10px solid transparent;
  border-top: 10px solid black;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  animation: antispin 1s linear infinite;
  z-index: 5;
}

.valuator .loader3 {
  border: 10px solid transparent;
  border-top: 10px solid black;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 0.4s linear infinite;
  z-index: 5;
}

.valuator #loaderButton {
  border: 10px solid transparent;
  border-top: 10px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.6s linear infinite;
  z-index: 5;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.valuator .loading {
  width: auto;
}

.valuator .top{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px solid;
  border-radius: 10px;
}

.valuator .middle-container {
  display: block;
  /* min-height: 65vh; */
}

.valuator .section-content {
  z-index: 1;
  padding-top: 1px;
  padding-bottom: 5px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.valuator .finishText {
  font-size: 20px;
  font-weight: 700;
}

.valuator .finishExText {
  font-size: 20px;
  font-weight: 400;
}

.valuator .finishPrice {
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-top: -170px;
  margin-bottom: 122px;
}

.valuator .backBtn {
  font-size: 24px;
  font-family: 500;
  padding: 5px;
  cursor: pointer;
  width: 201px;
  height: 44px;
  max-width: calc(45% + 1px);
  margin: 0;
  background-color: rgb(214, 214, 214);
  border: 1px solid rgb(37, 37, 37);
}

.valuator .backBtn2 {
  border-left: none;
}

.valuator .fas {
  font-size: 16px;
  vertical-align: middle;
}

.valuator .error {
  font-size: 40px;
  font-weight: 600;
}

.valuator .priceCircle {
  border: 2px solid black;
  border-radius: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 15%;
  padding-top: 15%;
  margin-bottom: 15px;
}