html, body {
    overflow-x: hidden;
    margin: 0;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

#root, .App, #slide1, #slide2, #slide3 {
    height: 100%;
    width: 100%;
    position: relative;
}

.main {
    height: calc(100% - 42px);
}

ul {
    list-style-type: none;
    padding: 0%;
    margin-top: 5px;
    margin-bottom: 0;
}

li {
    font-size: 13px;
}

.main {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
    text-align: center;
    height: 100%;
}

.optimiser-td {
    /* padding: 15px 30px 15px 30px; */
    background-color: #02bc83;
    /* border-radius: 10px; */
    margin: 4px;
    color: white;
    display: inline-block;
    vertical-align: top;
}

.optimiser-page {
    font-size: 24px;
    font-weight: 600;
}

@media (max-height: 600px){
    .optimiser-td {
        padding: 5px 30px 5px 30px;
    }

    .optimiser-page {
        font-size: 20px;
    }
}

.optimiser-user-price {
    background-color: black;
    color: white;
    text-shadow: 0px 0px 1px black;
}

table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    overflow-y: hidden;
    border: none;
    border-collapse: collapse;
    
}

td {
    width: 50%;
    overflow: hidden;
    overflow-y: hidden;
    position: relative;
    -webkit-scroll-snap-align: start;
    scroll-snap-align: start;
}

.scrollTable {
    position: relative;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    z-index: -2;
}

.optimiser-table {
    overflow: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    margin-left: 90px;
    margin-right: 90px;
}

.fadeLeft {
    background-image : linear-gradient(to left, 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 1) 90%);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100%;
    z-index: -1;
}

.fadeRight {
    background-image : linear-gradient(to right, 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 1) 90%);
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: -1;
}

.alterPrice {
    font-size: 50px;
    vertical-align: middle;
    z-index: 1;
}

.alterPriceText {
    font-size: 18px;
    font-weight: 600;
    vertical-align: middle;
    z-index: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes antispin {
    0% { transform: rotate(720deg); }
    100% { transform: rotate(0deg); }
}

.logo {
    width: 200px;
    position: absolute;
    top: 12%;
    left: 11%;
}

.loader {
    border: 10px solid transparent;
    border-top: 10px solid #02bc83;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    animation: spin 1s linear infinite;
    z-index: 5;
}

.loader2 {
    border: 10px solid transparent;
    border-top: 10px solid #02bc83;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    animation: antispin 1s linear infinite;
    z-index: 5;
}

.loader3 {
    border: 10px solid transparent;
    border-top: 10px solid #02bc83;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 0.4s linear infinite;
    z-index: 5;
}

.loading {
    width: auto;
}

.top{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0px solid;
    border-radius: 10px;
}

.middle-container {
    display: block;
    /* min-height: 65vh; */
}

.section-content {
    z-index: 1;
    padding-top: 1px;
    padding-bottom: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.uk-navbar {
    overflow: hidden;
    display: flex;
    position: relative;
    background: #f6f6f6!important;
    padding: 0 17px;
}

.App {
    width: 100%;
}

.uk-logo {
    font-size: 1.1875rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    color: #666;
    text-decoration: none;
    font-family: Oswald;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0px;
    color: #ccc;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 80px;
    padding: 0 15px;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    text-decoration: none;
}

.uk-navbar-item {
    color: #666;
    min-height: 42px;
    padding: 0;
}

label {
    font-size: 22px;
    font-weight: 600;
}

input {
    padding: 1px 2px;
    padding-right: 13px;
    border: 2px solid #02bc83;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: -64px;
    height: 25px;
    width: calc(100% - 46px);
    border-radius: 0;
}

#priceInput {
    padding-left: 15px;
    padding-right: 0px;
}

#locationInput {
    margin-right: 0px;
}

.score {
    color: #02bc83;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: #00694a;
}

a:hover {
    text-shadow: 0px 0px 1px;
}

.updateBtn {
    width: 40%;
    padding: 5px;
    margin-top: 10px;
    background-color: #02bc83;
    border: none;
    font-size: 24px;
    color: white;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);
}

.positionBtn {
    width: 40%;
    padding: 5px;
    margin-top: 10px;
    background-color: #02bc83;
    border: none;
    font-size: 14px;
    color: white;
    vertical-align: middle;
    cursor: pointer;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);
}

.incrBtn {
    margin-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.decrBtn {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
    background-color: #bc0202;
}

.incrBtn:hover, .decrBtn:hover {
    transform: scale(1.02);
}

.disableBtn {
    background-color: rgb(143, 143, 143);
    color: rgb(63, 63, 63);
}

.disableBtn:hover {
    transform: none;
}

.startBtn {
    padding: 15px;
    width: 50%;
}

.scrollBtn {
    width: 100%;
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: black;
    vertical-align: middle;
    cursor: pointer;
}

.backBtn {
    color: black;
}

.updateBtn:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 0;
   display: none;

}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

.note {
    margin-top: -10px;
    font-size: 20px;
    vertical-align: middle;
}

.notes {
    padding-left: 15px;
    padding-right: 15px;
}

#clickNote {
    position: absolute;
    top: 50%;
    left: -100px;
    font-weight: 700;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.note2 {
    margin-top: -10px;
    font-size: 18px;
}

.scrollToPages {
    font-size: 30px;
    vertical-align: middle;
    z-index: 2;
}

@media (max-width:847px){
    table {
        width: 100%;
    }

    .scrollBtn {
        display: block;
    }
}

@media (max-height: 620px){
    .disappearOnSmallerScreen {
        display: none;
    }

    label {
        font-size: 20px;
    }

    .note {
        font-size: 18px;
    }

    input {
        font-size: 20px;
    }
}

.formContent {
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    max-height: 100%;
}

#formHouse {
    padding-top: 42px;
    padding-bottom: 26px;
}

#slide1, #slide2, #slide3 {
    -webkit-scroll-snap-align: start;
    -webkit-scroll-snap-stop: always;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

small {
    z-index: 2;
}

.firstBreak {
    display: none;
}

@media (min-height: 650px){
    .firstBreak {
        display: block;
    }

    .alterPriceText {
        font-size: 22px;
    }
}

.secondBreak {
    display: none;
}

@media (min-height: 700px) {
    .secondBreak {
        display: block;
    }

    li {
        font-size: 16px;
    }
}

@media (min-height: 800px) {
    li {
        font-size: 18px;
    }

    .optimiser-page {
        font-size: 26px;
    }
}

#comment {
    font-size: 28px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
}

#fillComment {
    font-size: 20px;
}

.mainLogo {
    width: 200px;
}

.mainMenu {
    width: calc(100% - 30px);
}

.poundSign {
    position: absolute;
    margin-left: 4px;
    margin-top: 3px;
    color: #02bc83;
    font-size: 22px;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { 
    @media {
        .poundSign {
            margin-top: 7px;
        }
    }
}

@media not all and (min-resolution:.001dpcm) { 
    @media {
        .poundSign {
            margin-top: 7px;
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    font-size: 22px;
}

.tooltiptext {
    font-size: 14px;
    font-weight: 400;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(34, 34, 34);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    top: calc(-50% - 5px);
    right: 125%;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgb(34, 34, 34);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.negative, .plus {
    background-color: transparent;
    border: 2px solid #02bc83;
    font-size: 20px;
    cursor: pointer;
    width: 32px;
    height: 31px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.negative:hover {
    background-color: #02bc83;
}

.plus:hover {
    background-color: #02bc83;
}

.negative {
}

.plus {
    border-left: none;
}

:focus {
    outline: none;
}

.propertyForm {
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}

.listItem {
    padding-left: 10px;
    padding-right: 10px;
}