body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  text-align: center;
  font-family: Universal;
}

@font-face {
  font-family: Tiempos;
  src: url("./fonts/TiemposHeadline-Light.otf") format("opentype");
}

@font-face {
  font-family: Universal;
  src: url("./fonts/UniversalSans-v1-1-0-74-77-511112212111-500.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  width: 100%;
  font-size: 24px;
  margin-top: 20px;
}

td:nth-child(odd){
  text-align: right;
  width: 60%;
}

td:nth-child(even){
  text-align: left;
  font-weight: 700;
}

button {
  font-size: 20px;
  padding: 15px;
  width: 250px;
  border-radius: 0;
  border: 1px solid black;
  margin-bottom: -1px;
  background-color: #f0f0f0;
  outline: none;
  text-align: left;
  display: inline-block;
}

.activeRadio {
  background-color: #AAFF00;
}

.priceInput {
  font-size: 24px;
  padding: 15px;
  width: 468px;
  border-radius: 0;
  border: 1px solid black;
  outline: none;
  margin-bottom: 15px;
}

.inputLabel {
  text-align: left;
  width: 500px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  font-family: Tiempos;
  margin-bottom: 5px;
}

.purchaseSelect {
  margin-bottom: 15px;
}

.input {
  margin-top: 15px;
}

.radio:nth-child(even) {
  margin-left: -1px;
}

.input, .output {
  display: inline-block;
  vertical-align: middle;
  margin: 15px;
  width: 500px;
}

.output {
  width: 500px;
  display: inline-block;
  text-align: left;
  margin-top: 15px;
}

.outputBlock {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}

.outputHeading {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.outputExplain {
  font-size: 12px;
  font-style: italic;
}

.outputPrice {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: Tiempos;
}

.totalSavings {
  font-size: 36px;
  color: #AAFF00;
}