body {
    margin: 0;
    font-family: Universal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F0F0F0;
    text-align: center;
    overflow-x: hidden;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  @font-face {
    font-family: Tiempos;
    src: url("./fonts/TiemposHeadline-Light.otf") format("opentype");
  }
  
  @font-face {
    font-family: Universal;
    src: url("./fonts/UniversalSans-v1-1-0-74-77-511112212111-500.ttf") format("truetype");
  }
  
  button {
    text-transform: uppercase;
    font-size: 21px;
    padding: 15px 45px 15px 45px;
    border-radius: 45px;
    background-color: transparent;
    margin: 30px 0px 50px 0px;
    line-height: 21px;
    letter-spacing: 0.06em;
    outline: 0;
  }
  
  button:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
  
  button:active {
    border: none;
    outline: 0;
  }
  
  .whiteBtn {
    border: 2px solid white;
    color: white;
  }
  
  .blackBtn {
    border: 2px solid black;
    color: black;
  }
  
  .heading {
    font-size: 42px;
    line-height: 45px;
    font-family: Tiempos;
    padding-bottom: 20px;
  }
  
  @media (min-width:1125px){
    .heading {
      font-size: 48px;
      line-height: 54px;
      font-family: Tiempos;
      padding-bottom: 20px;
    }  
  }
  
  .topBlock {
    width: 100%;
    background-color: black;
    color: white;
    font-family: Universal;
    font-size: 18px;
    overflow: hidden;
  }
  
  .cuppaBox, .storyBox {
    width: 100%;
    background-color: black;
    color: white;
  }
  
  .backgroundText {
    color: rgb(100,100,100);
    font-family: Tiempos;
    font-size: 42px;
    width: 3100px;
    margin-left: -156px;
    /* margin-right: -50vw; */
    position: relative;
    margin-top: -50px;
    height: 300px;
    overflow: hidden;
  }
  
  .wobbleCircle {
    position: relative;
    top: -270px;
  }
  
  .wobbleContent {
    background-color: #AAFF00;
    /* height: 300px; */
    color: black;
    text-transform: uppercase;
    padding: 150px 50px 150px 50px;
    border-radius: 50%;
    width: 300px;
    font-size: 40px;
    font-weight: 600;
    display: inline-block;
  }
  
  .circleContainer {
    width: 100%;
    margin-bottom: 150px;
    margin-top: 30px;
  }
  
  .logo {
    margin: 30px;
    width: 100px;
  }
  
  .explanationHeading {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  /* @media (min-width:1125px){
    .explanationHeading {
      font-size: 45px;
    }
  } */
  
  .mortgagePrinciple {
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .quoteBox {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px;
    margin-left: 0;
    margin-right: 0;
  }
  
  table {
    width: 100%;
  }
  
  .altTable {
    display: none;
  }
  
  @media (max-width:1125px){
    table {
      display: none;
    }
  
    .altTable {
      display: block;
    }
  }
  
  .youtubeLink {
    color: white;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    border-bottom: 1px solid white;
  }
  
  .rayVideo {
    width: 560px;
    height: 315px;
    max-width: 90vw;
    max-height: 50.625vw;
    border: none;
    margin-top: 15px;
    margin-bottom: 50px;
  }
  
  @media (max-width:1125px){
    .rayVideo {
      margin-bottom: 30px;
    }
  }
  
  .youtubeLinkDiv {
    padding-bottom: 50px;
  }
  
  .quoteContent {
    font-family: Tiempos;
    font-size: 30px;
    line-height: 45px;
  }
  
  .quoteAuthor {
    padding-top: 10px;
    font-size: 18px;
  }
  
  .quoteResponse {
    font-family: Tiempos;
    font-size: 45px;
    margin-bottom: 20px;
    line-height: 48px;
  }
  
  .quoteResponseContent {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  @media (max-width:1125px){
    .quoteContent {
      font-size: 24px;
      line-height: 30px;
    }
  }
  
  .cuppaHeading {
    font-size: 12px;
    font-family: Universal;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 2px;
  }
  
  .catchBox, .jobBox, .otherServices, .topHeader {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .cuppaContent, .catchContent, .cuppaContentTable {
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .cuppaContentTable {
    padding: 0;
  }
  
  .catchContent {
    margin-bottom: 50px;
  }
  
  .cuppaBox {
    width: calc(100% - 40px);
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .tvIcon {
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
  }
  
  .rosette {
    width: 250px;
    max-width: 100%;
  }
  
  .rosetteText {
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: black;
    margin-top: -421px;
    position: relative;
    text-transform: uppercase;
  }
  
  .catchHeading {
    font-size: 45px;
    font-family: Tiempos;
    /* padding-top: 30px;
    padding-bottom: 30px; */
    margin-top: 40px;
    line-height: 48px;
    padding-bottom: 20px;
  }
  
  .fishImage {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .jobHeading {
    font-size: 45px;
    font-family: Tiempos;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 48px;
  }
  
  .jobContent {
    font-size: 18px;
  }
  
  .emailLink {
    font-size: 18px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
  }
  
  .emailLinkDiv {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .accordion {
    display: inline-table;
    max-width: 900px;
    width: 100%;
    border: 1px solid black;
    margin-left: -1px;
    margin-top: -1px;
  }
  
  .accordionHeading {
    font-size: 18px;
    padding: 20px;
    padding-left: 30px;
    text-align: left;
    font-weight: 700;
    cursor: pointer;
  }
  
  .x {
    float: right;
    margin-top: -5px;
    transition: all 0.1s ease-in-out;
  }
  
  #sellingX, #mortgageX, #applyX, #insuranceX {
    transition: all 0.1s ease-in-out;
  }
  
  .accordionContent {
    text-align: left;
    font-size: 15px;
    line-height: 22px;
    margin-left: 30px;
    margin-right: 30px;
    max-height: 0px;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
  }
  
  .paddingBottom {
    padding-bottom: 30px;
  }
  
  .otherServices {
    margin-bottom: 30px;
  }
  
  .mention {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .socialIcon {
    height: 50px;
    margin: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  hr {
    border: none;
    border-top: 1px solid black;
  }
  
  .legal {
    font-size: 15px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  @media (min-width:800px){
    .mortgagePrinciple {
      font-size: 30px;
      padding-left: 10%;
      padding-right: 10%;
    }
  
    .quoteBox {
      margin-left: 30px;
      margin-right: 30px;
    }
  
    .catchBox, .jobBox, .otherServices, .topHeader {
      padding-left: 10%;
      padding-right: 10%;
    }
  }
  
  .accordionLink {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    font-size: 15px;
  }
  
  .accordionLinkDiv {
    padding-top: 20px;
    padding-bottom: 30px;
  }