body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	background-color: #F0F0F0;
	font-family: Universal;
	margin-bottom: 30px;
	overflow: overlay;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
	width: 680px;
	max-width: 100%;
	display: inline-block;
	position: relative;
}

@font-face {
	font-family: Tiempos;
	src: url("./fonts/TiemposHeadline-Light.otf") format("opentype");
}

@font-face {
	font-family: Universal;
	src: url("./fonts/UniversalSans-v1-1-0-74-77-511112212111-500.ttf") format("truetype");
}

.logo {
	width: 10px 0 0 0;
	margin: 30px;
	margin-bottom: 0;
}

.back {
	position: absolute;
	top: 0;
	left: 0;
	margin: 20px 0px 0px 0px;
	margin-left: 0;
	padding-top: 21px;
	padding-bottom: 18px;
	font-family: Universal;
	font-size: 15px;
	border: none;
	outline: none;
	color: #999;
	text-transform: initial;
}

.tick {
	position: absolute;
	right: 27px;
	top: 38%;
}

.backArrow, .backText {
	display: inline-block;
	vertical-align: middle;
}

.backText {
	margin-left: 10px;
}

button {
  font-family: Universal;
	background-color: #F0F0F0;
	margin: 20px;
	padding: 15px 21px;
	font-size: 24px;
	line-height: 30px;
	border-radius: 30px;
	font-weight: 300;
	text-transform: uppercase;
	border: 1px solid black;
	outline: none;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
	overflow: hidden;
}

button:hover {
	background-color: #AAFF00;
}

.capBtn {
	letter-spacing: 2px;
	padding: 12px 42px;
}

.back:hover {
	background-color: transparent;
}

.page {
	margin-left: 20px;
	margin-right: 20px;
	z-index: 1;
}

.pageHeading {
	font-family: Tiempos;
	font-size: 30px;
	line-height: 36px;
	font-weight: 300;
	margin-bottom: 20px;
	margin-top: 10px;
	/* width: 240px; */
}

.pageContent {
	font-family: Universal;
	font-size: 15px;
	line-height: 21px;
	font-weight: 400;
	margin-bottom: 20px;
}

input {
	font-size: 24px;
	line-height: 30px;
	letter-spacing: -0.02em;
	padding: 10px;
	border: 1px solid black;
	outline: none;
}

.lastNameInput {
	margin-top: -1px;
}

.linkText {
	border-bottom: 1px solid black;
	width: auto;
	cursor: pointer;
}

.radio {
	margin: 0;
	border-radius: 0;
	margin-top: -1px;
	text-transform: unset;
	width: 100%;
	max-width: 680px;
	cursor: pointer;
	text-align: left;
	font-size: 21px;
	position: relative;
}

.calculator {
	width: 300px;
	display: inline-block;
}

.calc-btn {
	width: 100px;
	margin: 0;
	border-radius: 0;
	margin-top: -1px;
}

.calc-btn:nth-child(2), .calc-btn:nth-child(5), .calc-btn:nth-child(8), .calc-btn:nth-child(11) {
	margin-left: -1px;
	margin-right: -1px;
}

.leaseInput {
	width: 216px;
	margin-bottom: 20px;
}

.priceInput {
	border-left: none;
	width: 242px;
}

.input-label {
	margin: 0;
	border-radius: 0;
	text-transform: unset;
	padding-right: 20px;
	margin-left: -2px;
	padding-top: 19px;
	padding-bottom: 13px;
	padding-left: 5px;
	background-color: white;
	border: 1px solid black;
	border-left: none;
	font-size: 15px;
}

.input-label-pound {
	border-right: none;
	border-left: 1px solid black;
	margin-left: 0;
	margin-right: -2px;
	padding-right: 5px;
	padding-left: 20px;
}

#bedroomAccordion {
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}

#bathroomAccordion, #parkingAccordion, #photoAccordion {
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}

.progress-bar {
	width: calc(100% - 40px);
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 15px;
	background-color: #fff;
	height: 4px;
}

.progress {
	height: 5px;
	background-color: #000;
	transition: all 0.2s ease-in-out;
}

.encompass {
	margin: -1px;
	width: calc(100% + 2px);
	height: calc(100% + 1px);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
}

.float-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #F0F0F0;
}

.backWhite {
	background-color: transparent;
}

.backTextWhite {
	color: white;
}

.descriptionBox {
	border: 1px solid black;
	text-align: left;
	margin-top: 15px;
	width: 100%;
	display: inline-block;
	max-width: 100%;
}

.link {
	border-bottom: 1px solid black;
	cursor: pointer;
}

#cancelLink {
	float: right;
	display: none;
}

.boxHead {
	border-bottom: 1px solid black;
	padding: 10px;
}

.boxContent {
	padding: 10px;
}

.paraInput {
	width: 90%;
	max-width: 500px;
	height: 250px;
	margin-top: 15px;
}

textarea {
	text-align: left;
	font-size: 15px;
	line-height: 21px;
	font-family: Universal;
	width: calc(100% - 5px);
	height: 200px;
}

.addressSelect {
	margin-bottom: 20px;
}

.drum {
	width: 300px;
}

#editor {
	display: none;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 23px;
	float: right;
}

/* Hide default HTML checkbox */

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #AAFF00;
}

input:focus+.slider {
	box-shadow: 0 0 1px #AAFF00;
}

input:checked+.slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
}

/* Rounded sliders */

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.modal {
	position: fixed;
    transform: translate(-50%, calc(-50% - .5px));
    top: 50%;
    left: 50%;
    background: rgba(0,0,0,0.8);
    width: calc(100% + 2px);
	height: 100%;
	margin-left: -1px;
	display: none;
}

.modalContent {
	position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
	left: 50%;
	background: #F0F0F0;
	border: 1px solid black;
	width: 350px;
	max-width: 90%;
	padding: 10px;
}

.light-grey {
	color: #999;
	margin-bottom: 0;
}

.phoneInput {
	width: 227px;
}

#phoneModal {
	display: none
}

.grey-link {
	border-bottom: 1px solid #999;
}

.codeInput {
	width: 276px;
	letter-spacing: 10px;
}

small {
  font-size: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tbody {
  background-color: white;
}

tr {
  border: 1px solid black;
}

td {
  margin: 0;
  padding: 0;
  height: 40px;
}

td:nth-of-type(4n + 1){
  text-align: left;
  padding-left: 10px;
  font-weight: 700;
}

.check {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  font-size: inherit;
  text-transform: unset;
  border-radius: 0;
  color: #999;
  font-size: 12px;
  height: calc(100% + 2px);
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.check:hover {
  background-color: #f0f0f0;
}

.check-img {
  background-color: #F0F0F0;
  border: 1px solid black;
  margin-top: -1px;
  margin-bottom: -1px;
  display: none;
}

.blackBar {
  color: #F0F0F0;
  background-color: black;
  text-align: left;
  padding: 10px;
  padding-left: 20px;
  position: relative;
}

.colorText {
  color: #AAFF00;
  font-weight: 500;
}

.photoUpload {
  padding: 20px;
  text-align: left;
  font-size: 21px;
  line-height: 24px;
  border: 1px solid black;
  margin-top: -1px;
}

@media (max-width: 680px){
  .blackBar {
    margin-left: -25px;
    margin-right: -25px;
  }

  .photoUpload{
    margin-left: -20px;
    margin-right: -20px;
  }
}

.photoHeading {
  margin-bottom: 20px;
}

.photoSpace {
  border: 1px solid black;
  width: 100%;
  min-height: 100px;
}

.photoMagicBar {
  padding: 10px;
  border: 1px solid black;
  margin-right: -2px;
  margin-top: -1px;
  font-size: 18px;
  line-height: 21px;
}

.replacePhoto {
  border: 1px solid black;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 15px;
  line-height: 21px;
  cursor: pointer;
}

.fileUpload {
  display: none;
}

.uploadedPhoto {
  width: 100%;
  margin-bottom: -5px;
}

.adBtn {
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
  border-radius: 5px;
  text-transform: unset;
  font-size: 18px;
  padding: 12px 24px;
  position: relative;
}

.mB {
  margin-bottom: 20px;
}

.rightArrow {
  position: absolute;
  right: 20px;
  top: 34%;
}

.adBtn:disabled {
  background-color: #F0F0F0;
  cursor: auto;
}

.floatX {
  position: absolute;
  right: 20px;
  top: 1px;
  font-weight: 900;
  font-size: 30px;
}

.btnTime {
	position: absolute;
	right: 20px;
}

.rosette {
	width: 200px;
}

.bookingTime {
	font-size: 18px;
	line-height: 24px;
	margin-top: -123px;
	margin-bottom: 70px;
}

.timeRosette {
	font-size: 30px;
	line-height: 24px;
	font-weight: 700;
}