body{
	background-color: #000000;
}
#drum-roll{
	margin: 60px auto;
	background-color: #FFFFFF;
	border-radius: 150px;
	width: 300px;
	height: 300px;
}
#stick-left{
	position: relative;
	-webkit-animation: leftroll 0.1s 1.05s infinite linear;
	animation: leftroll 0.1s 1.05s infinite linear;
	transform-origin: 0% 0%;
}
#stick-left:hover{
	animation-play-state: paused;
}
@-webkit-keyframes leftroll{
	0% {
		transform: rotate(-2.5deg);
	}
	50% {
		transform: rotate(2.5deg);
	}
}
@keyframes leftroll {
	0% {
		transform: rotate(-2.5deg);
	}
	50% {
		transform: rotate(2.5deg);
	}
}
#stick-right{
	position: relative;
	-webkit-animation: leftroll 0.1s 1s infinite linear;
	animation: leftroll 0.1s 1s infinite linear;
	transform-origin: 0% 0%;
}
#stick-right:hover{
	animation-play-state: paused;
}
@-webkit-keyframes rightroll{
	0% {
		transform: rotate(2.5deg);
	}
	50% {
		transform: rotate(-2.5deg);
	}
}
@keyframes rightroll {
	0% {
		transform: rotate( 2.5deg ) scale( 1 );
	}
	50% {
		transform: rotate( -2.5deg ) scale( 1 );
	}
}